<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>ToDoApp</title>
</head>
<body>
  <header>
    <h1>ToDo By Rails</h1>
    <h3>sign in</h3>
  </header>
  <main>
    <nav class="side_menu">
      <% @index.each do |text| %>
      <ul>
        <li><%= text.date %></li>
        <label><%= text.title %></label>
      </ul>
      <%end%>
    </nav>
    <div class="main_menu">
      <div class="ListTitle">
        <h1 class="list_title">Task List</h1>
        <p>今日1日のやることを書いてみよう</p>
        <div class="button_area">
            <%= link_to 'create task', 'texts/new', method: :get, class: "button" %>
        </div>
      </div>
      <div class="createdList">
        <% @index.each do |text| %>
          <div class="show_lists">
            <div class="show_date"><%= text.date %></div>
            <div class="show_title"><%= text.title %></div>
            <form action="#" name="input">
              <div class="show_text"><%= text.text %></div>
              <div class="more_list">
                <%= link_to 'delete', "/texts/#{text.id}", method: :delete, class: "delete_btn" %>
              </div>
            </form>
          </div>  
          <%end%>
        </div>
      </div>
    </div>  
  </main>
  <footer>
    <small>&copy; 2020 kiyo1928</small>
  </footer>
</body>
</html>