<body>
  <%= render partial: 'layouts/header' %>
  <div class="createToDo">
    <h2>今日やることを書いてみよう!!</h2>
      <%= form_for(@texts) do |f| %>
        <%= f.text_area :text, class: "textarea" %> 
        <%= f.submit "投稿" %> 
      <% end %>
  </div>
  <%= render partial: 'layouts/footer' %>
</body>
</html>

